body {
  margin: 0;
  padding-top: 70px;
}

.dark_navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-color: #1e1e2f;
  padding: 15px 0;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.light_navbar{
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;

height: 70px;
background-color: bisque;
border-bottom: 1px solid rgb(156, 130, 130);
padding: 15px 0;
}

#nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  list-style: none;
  margin: 0;
  padding: 0;
}


.nav_link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;

  transition: 0.3s;
}

.nav_link:hover {
  color: #00d4ff;
}

.nav_link.active {
  border-bottom: 2px solid #00d4ff;
}

#root{
  text-align: left;
}

/* Register */
#form_section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#custom_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  padding: 30px;
  border-radius: 12px;
  background-color: #f5f7fa;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.custom_input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: 0.3s;
}

.custom_input:focus {
  outline: none;
  border-color: #4f46e5;
  box-shadow: 0 0 5px rgba(79, 70, 229, 0.3);
}

#form_btn {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #4f46e5;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

#form_btn:hover {
  background-color: #3730a3;
}